<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{layout :: head(Top)}"></th:block>

<body>
<th:block th:replace="~{layout :: header}"></th:block>

<main class="container mt-3">
    <h3>ユーザー登録</h3>
    <form th:action="@{/common/register}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">ユーザー名</label>
            <input type="text" class="form-control" id="username" name="username" required minlength="5" maxlength="64">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">パスワード</label>
            <input type="password" class="form-control" id="password" name="password" required minlength="5" maxlength="64">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">氏名</label>
            <input type="text" class="form-control" id="name" name="name" maxlength="255">
        </div>

        <button type="submit" class="btn btn-primary">登録</button>
    </form>
</main>

<th:block th:replace="~{layout :: footer}"></th:block>
<th:block th:replace="~{layout :: script}"></th:block>
</body>
</html>