<!DOCTYPE html>
<html lang="ja" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{layout :: head(Top)}"></th:block>

<body>
<th:block th:replace="~{layout :: header}"></th:block>

<main class="container mt-3">
    <div class="alert alert-info" th:if="${message}" th:text="${message}">info message</div>
    <div class="alert alert-danger" th:if="${warning}" th:text="${warning}">info message</div>
    <h3>貸出一覧</h3>
    <div class="mx-auto">
        <table class="table table-striped">
            <colgroup>
                <col style="width: 5%">
                <col style="width: 25%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 10%">
            </colgroup>
            <thead>
            <tr>
                <th>No.</th>
                <th>図書名</th>
                <th>著者</th>
                <th>出版社</th>
                <th>出版日</th>
                <th>貸出日時</th>
                <th>返却日時</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book,info : ${loanedBookList}">
                <td><span th:text="${info.count}">0</span></td>
                <td><span th:text="${book.title}">book title</span></td>
                <td><span th:text="${book.author}">book author</span></td>
                <td><span th:text="${book.publisher}">book publisher</span></td>
                <td><span th:text="${#temporals.format(book.publicationDate, 'yyyy/MM/dd')}">book publicationDate</span></td>
                <td><span th:text="${#temporals.format(book.checkoutDate, 'yyyy/MM/dd hh:mm')}">book checkoutDate</span></td>
                <td><span th:text="${#temporals.format(book.returnDate, 'yyyy/MM/dd hh:mm')}">book returnDate</span></td>
                <td>
                    <a th:if="${book.returnDate == null}" th:href="@{/book/return(bookId=${book.bookId})}" sec:authorize="hasRole('GENERAL')"
                       class="btn btn-primary float-end">返却</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<th:block th:replace="~{layout :: footer}"></th:block>
<th:block th:replace="~{layout :: script}"></th:block>
</body>
</html>