<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{layout :: head(Top)}"></th:block>

<body>
<th:block th:replace="~{layout :: header}"></th:block>

<main class="container mt-3">
    <h3>貸出確認</h3>

    <div class="container mt-5">
        <form th:action="@{/book/loan}" method="post">
            <div class="card mb-3">
                <div class="card-body" th:object="${book}">
                    <input type="hidden" th:field="*{id}">
                    <h4 class="card-title">図書名: <span id="book-title" th:text="*{title}">book title</span></h4>
                    <p class="card-text">著者: <span id="book-author" th:text="*{author}">book author</span></p>
                    <p class="card-text">出版社: <span id="book-publisher" th:text="*{publisher}">book publisher</span></p>
                    <p class="card-text">出版日: <span id="book-publish-date" th:text="*{publicationDate}">book publicationDate</span></p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">貸出</button>
        </form>
    </div>
</main>

<th:block th:replace="~{layout :: footer}"></th:block>
<th:block th:replace="~{layout :: script}"></th:block>
</body>
</html>